.cart-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.cart-item__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4px;
    width: 30%;
}

.cart-item__image {
    width: 10%;
    object-fit: cover;
}

.cart-item__brand {
    font-size: 0.9rem;
    font-weight: bolder;
}

.cart-item__product-name {
    font-size: 0.9rem;
    color: var(--color-shuttle-gray);
}

.cart-item__category {
    font-weight: normal;
}

.cart-item__quantity {
    display: flex;
    align-items: center;
    width: 15%;
}

.button-quantity {
    border: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: var(--color-dark-blue);
    font-weight: bolder;
    background-color: var(--color-polar);
    cursor: pointer;
}

.button-quantity:hover {
    color: var(--color-polar);
    background-color: var(--color-gray);
}

.total-quantity {
    font-weight: normal;
    padding: 0 12px;
    font-size: 1rem;
}

.cart-item__price-wrap, .cart-item__stock-wrap {
    width: 10%;
}

.cart-item__stock {
    color: var(--color-gray);
}

.cart-item__price {
    color: var(--color-dark-blue);
    font-weight: bolder;
    font-size: 1.2rem;
}

.cart-item__remove {
    font-size: 1rem;
    font-weight: normal;
    color: var(--color-gray);
}

.cart-item__remove:hover {
    color: var(--color-shuttle-gray);
    cursor: pointer;
}