:root {
    --color-orange: #ff7d25;
    --color-light-orange: #ff8315;
    --color-sun: #ffa515;
    --color-dark-blue: #2c343d;
    --color-shuttle-gray: #5B6876;
    --color-gray: #9aa8b8;
    --color-light-gray: #ecedf1;
    --color-polar: #F2F8FC;
    --color-white: #FFFFFF;
    --color-Gainsboro: #d0d3d6;
}
