.header {
  display: flex;
  justify-content: space-around;
  background-color: var(--color-orange);
}

.header img {
  width: 100px;
  height: 100px;
}

.header-center {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-center h1 {
  font-size: 35px;
  color: white;
}
