.pagination {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
    row-gap: 32px;
}

.page-item {
    display: inline;
}

.page-item:first-child .page-link {
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover {
    z-index: 2;
    color: var(--color-polar);
    cursor: default;
    background-color: var(--color-orange);
    border-color: var(--color-sun);
}

.page-item.disabled .page-link,
.page-item.disabled .page-link:focus,
.page-item.disabled .page-link:hover {
    color: var(--color-gray);
    pointer-events: none;
    cursor: not-allowed;
    background-color: var(--color-white);
    border-color: var(--color-light-gray);
}

.page-link {
    padding: 8px 12px;
    margin-left: -1px;
    color: var(--color-gray);
    text-decoration: none;
    background-color: var(--color-white);
    border: 1px solid var(--color-light-gray);
    cursor: pointer;
}

.page-link:focus,
.page-link:hover {
    color: var(--color-shuttle-gray);
    background-color: var(--color-polar);
    border-color: var(--color-light-gray);
}